body {
    font-family: Arial, sans-serif;
    background-color: #0834cc
;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

#quoteDisplay {
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #D8DDE4;
}

/* Circular Shape */
.corner-circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    background-color: white;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}